
.header {
    height:150px;
    background-image: url(banner.png);
    background-color: lightsteelblue;
    border:1px solid #CCC;
    width:100%;
    margin:0px auto;
}

.innerheader{ 
background:rgba(227, 226, 226,0.6);
}

.title{
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
    padding: 4px 4px 4px 4px
}
    
#menu-bar {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 4px 6px;
  height: 40px;
  line-height: 100%;
  background: #FAFAFA;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 4px 6px 6px 6px;
  padding: 0px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
  text-align: left;
}
#menu-bar a {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: #050505;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin-bottom: 6px;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #427BBD;
  color: #FAFAFA;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
}
#menu-bar ul a:hover {
  background: #757B7D !important;
  color: #FFFFFF !important;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  background: #E6E6E6;
  display: none;
  width: 140px;
  position: absolute;
  top: 30px;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:0px 0px 10px 0px;
  color:#424242;
  font-size:14px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}

body{
    margin:0px;
    background:#fff;
}   

.content {
    width:100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 500px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 14px;
    
}

.subtitle{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#aboutme{
    display: block;
    width: 800px;
}

.allbutchef {
    border-collapse: collapse;
}

.allbutchef th, td {
    padding: 5px;
    text-align: left;
    vertical-align: center;
    width: 300px;
}

.allbutchef th{ 
    background-color:#5f5f5f;
    color:white;
    font-weight: 200;
}

.allbutchef tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.allbutchef tr:hover {
    color: #996699;
}

a:link {
    color:black;
}

a:hover {
    color: #996699;
}

.chefpage{
    border-collapse: collapse;
}
.chefpage th, td{
    vertical-align: top;
}

.recipetitle{
    font-style: bold;
}

.recipetext{
    width: 800px;
}


/*
.content:after {
    display: block;
}
*/

#footer, .content:after {
    margin-top: 25px;
    height: 50px; 
}

#footer{
    background-color: #B1AFAE;
    width: 100%;
}

#footertext{  
    margin-left: 20px;
    padding-top: 15px;
    font-size: small;
}


/*  FAMILY TREE CSS   */

/*
.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
*/

/*We will use ::before and ::after to draw the connectors*/

/*
.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}
*/

/*We need to remove left-right connectors from elements without 
any siblings*/
/*
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}
*/

/*Remove space from the top of single children*/
/*
.tree li:only-child{ padding-top: 0;}

Remove left connector from first child and 
right connector from last child
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
*/
/*Adding back the vertical connector to the last nodes*/
/*
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}
*/

/*Time to add downward connectors from parents*/
/*
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
*/



